{% extends "master.html" %}

{% block title %}Contacts App{% endblock %}

{% block content %}

<h1>Contacts</h1>

<table>
	<thead>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Type</th>
		<th></th>
	</thead>

	{% for contact in all_contacts %}
	<tr>
		<td>{{ contact.id }}</td>
		<td>{{ contact.first_name }}</td>
		<td>{{ contact.last_name }}</td>
		<td>{{ contact.email }}</td>
		<td>{{ contact.mobile }}</td>
		<td>{{ contact.type_verbose }}</td>
		<td>
			<button>EDIT</button>
			<button>DELETE</button>
		</td>
	</tr>
	{% endfor %}
	<tr>
		<form>
			<td></td>

			{% for field in form %}

			<td>{{ field }}</td>

			{% endfor %}

			<td>
				<button>SAVE</button>
			</td>
		</form>
	</tr>
</table>

{% endblock %}